@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Product Santa */
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-black text-white font-sans antialiased;
  }
}